
.dash-board{
    color: #fff;
    background-color: #6a58f7;
    height: 92rem;
    max-height: 916px;
    margin-bottom: 0;
    width: 20%;
    padding-left: 0;

}

li{
    list-style: none;
    text-align: left;
    
    margin-top: 24px;
    margin-right: 10%;
}

