
.dash-board{
    color: #fff;
    background-color: #6a58f7;
    height: 92rem;
    max-height: 916px;
    margin-bottom: 0;
    width: 20%;


}

li{
    list-style: none;
    text-align: left;  
    margin-top: 24px;
    padding: 8px 38px;
}

.container {
    display: flex;
    justify-content: space-between;
    gap: 100px;
}
.column {
    flex: 1;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    text-align: center;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.amount {
    font-size: 2rem;
    color: #00a86b;
    font-weight: bold;
}
.describe{
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.btn-success{
    width: 90px;
}
.btn-primary,
.btn-danger{
    margin-right: 4px;
}
.head-order{
    justify-content: space-between;
    
}
.head-order .filter{
    margin-right: 130px;
}
.table-body td{
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
